span{
  color: red;
  font-family: sans-serif;
  text-transform: capitalize;
}
.forms{
  font-family: sans-serif;
  text-align: center;
  color: crimson;
}
.bolds{
  display: block;
  text-align: start;
}
.myforms{
  width: 500px;
  background-color: aquamarine;
  padding: 40px;
  margin: auto;
  border-radius: 10px;

}
.mydiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  
}
input{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin:10px 0;

}
.inputDiv{
 width: 70%;
}
.inputTitle{
  color: saddlebrown;
  font-family: sans-serif;
  font-size: 22px;
}
.btn{
  width: 100%;
  margin-left:23px;
  margin-top: 10px;
  padding: 10px;
  background-color: seagreen;
  color: aliceblue;
  border-radius:10px;
  border: none;
}

@media screen and (max-width:628px) {
  span{
    font-size: 12px;
  }
  input{
    padding: 5px;
  }
  .myforms{
    width: 300px;
  }
  .inputDiv{
   width: 60%;
  }
  .inputTitle{
    color: saddlebrown;
    font-family: sans-serif;
    font-size: 17px;
  }
  .btn{
    margin-left:10px;
  }
  

}